.HomeProjects {
  height: 750px;
}
.tech {
  height: 100px;
  width: 100px;
}
.grey {
  filter: grayscale(1);
}
.projects {
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
}
.proList {
  width: 400px;
}
.project {
  height: 150px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.project h3 {
  font-size: 24px;
  line-height: 150px;
  margin: 5px;
  text-shadow: #fff 0 0 2px, #fff 0 0 10px;
}
.proDisplay {
  width: 800px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.proDisplay h2 {
  font-size: 3em;
}
.project h3.selected {
  font-size: 32px;
}
.HomeProjects h1 {
  font-size: 80px;
  text-align: left;
  margin-left: 60px;
}
.techStack {
  display: flex;
  justify-content: center;
}
.button {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 5px;
}
.projectButton {
  margin: 5px;
}

.button {
  color: black;
  text-decoration: none;
  font-weight: 700;
}
.redSide {
  border-left: 5px solid #e6020d;
}
.blueSide {
  border-left: 5px solid #3c5aa6;
}
.greenSide {
  border-left: 5px solid #32bd0a;
}
.project h3 {
  margin-left: 10px;
}
.trx {
  background-image: url("../../resources/images/trx.png");
  background-size: cover;
}
.atomic {
  background-image: url("../../resources/images/atomicAcademy.png");
  background-size: cover;
}
.pokemon {
  background-image: url("../../resources/images/pokemon.png");
  background-size: cover;
}
