/* .App {
  text-align: center;
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
} */
/* .app {
  background-color: lightgray;
  background-image: url("./resources/images/background.png");
  background-repeat: none;
  background-size: auto;
} */
body {
  background-color: lightgray;
  background-image: url("./resources/images/background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}
* {
  box-sizing: border-box;
}
