@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Josefin+Slab:wght@400;700&display=swap");
h1,
h2,
h3,
h4 {
  font-family: "Josefin Slab", serif;
  font-weight: 700;
}
body {
  margin: 0;
  font-family: "Josefin Sans", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
